<header>
  <img src="../../../assets/logo-vw-comerciales.jpg" alt="Logo VW" />
  <img src="../../../assets/header_multivan.jpg" alt="Banner Vw" />
</header>
<main>
  <div class="container">
    <div class="row">
      <h3>Pruébalo y familiarízate con el Nuevo Caravelle</h3>
      <p>
        Selecciona el modelo que quieras probar, según su disponibilidad, o
        solicita informacion sobre el modelo que más te interese, y podrás vivir
        una experiencia única al volante. Déjanos tus datos y te responderemos
        lo antes posible.
      </p>
    </div>
    <div class="formulario">
      <h3 class="titulo">¿Qué modelo quieres probar?</h3>
      <form action="" [formGroup]="formulario" novalidate>
        <label for="">Modelo Principal* </label
        ><select id="tipo" formControlName="tipoAuto">
          <option value="">Seleccionar...</option>
          <option value="Multivan">Multivan</option>
          <option value="Caravalle">Caravelle</option>
        </select>
        <p
          class="error"
          *ngIf="
            formulario.controls.tipoAuto.errors &&
            formulario.controls.tipoAuto.touched
          "
        >
          El campo es obligatorio
        </p>

        <h3 class="titulo">¿Tus datos de contacto son?</h3>
        <label for="">Trato* </label
        ><select formControlName="trato">
          <option value="">Seleccionar...</option>

          <option value="Sr">Sr</option>
          <option value="Sr">Sra</option>
        </select>
        <p
          class="error"
          *ngIf="
            formulario.controls.trato.errors &&
            formulario.controls.trato.touched
          "
        >
          El campo es obligatorio
        </p>
        <div class="dPersonales">
          <div class="nombre">
            <label for="nombreControl">Nombre* </label>
            <input
              type="text"
              name="nombre"
              #nombreControl
              formControlName="nombre"
            />
            <p
              class="error"
              *ngIf="
                formulario.controls.nombre.errors &&
                formulario.controls.nombre.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
          <div class="apeOne">
            <label for=""> 1er Apellido* </label>
            <input type="text" name="apellido" formControlName="apellido" />
            <p
              class="error"
              *ngIf="
                formulario.controls.apellido.errors &&
                formulario.controls.apellido.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
          <div class="apeTwo">
            <label for=""> 2do Apellido </label>
            <input type="text" name="apellido2" formControlName="apellido2" />
          </div>
        </div>
        <div class="datos">
          <div class="email">
            <label for="">E-mail* </label>
            <input type="email" name="email" formControlName="email" />
            <p
              class="error"
              *ngIf="
                formulario.controls.email.errors &&
                formulario.controls.email.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
          <div class="movil">
            <label for="">Movil* </label>
            <input
              type="text"
              name="telefono"
              formControlName="movil"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            />
            <p
              class="error"
              *ngIf="
                formulario.controls.movil.errors &&
                formulario.controls.movil.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
        </div>
        <h3 class="titulo">Escoge tu concesionario</h3>
        <div class="concesionario">
          <div class="prov">
            <label for="">Provincia* </label>
            <select
              formControlName="provincia"
              [(ngModel)]="selectProv"
              (change)="ShowConcesion()"
            >
              <option value="{{ p.provincia }}" *ngFor="let p of dataBase">
                {{ p.provincia }}
              </option>
            </select>
            <p
              class="error"
              *ngIf="
                formulario.controls.provincia.errors &&
                formulario.controls.provincia.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
          <div class="cons">
            <label for="">Concesión* </label>
            <select formControlName="concesion">
              <option
                value="{{ c }}"
                *ngFor="let c of concesionarios.concesion"
              >
                {{ c }}
              </option>
            </select>
            <p
              class="error"
              *ngIf="
                formulario.controls.concesion.errors &&
                formulario.controls.concesion.touched
              "
            >
              El campo es obligatorio
            </p>
          </div>
        </div>
        <div class="terminos">
          <input type="checkbox" value="Enviar" formControlName="terminos" />
          <label for="">He leido y aceotadi la Política de Privacidad</label>
          <button (click)="enviar()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</main>
