<header>
  <img src="../../../assets/logo-vw-comerciales.jpg" alt="Logo VW" />
  <img src="../../../assets/logo-vw-comerciales.jpg" alt="Banner Vw" />
</header>
<main>
  <div class="container">
    <div class="row">
      <h3>Pruébalo y familiarízate con el Nuevo Caravelle</h3>
      <p>
        Selecciona el modelo que quieras probar, según su disponibilidad, o
        solicita informacion sobre el modelo que más te interese, y podrás vivir
        una experiencia única al volante. Déjanos tus datos y te responderemos
        lo antes posible.
      </p>
    </div>
    <div class="formulario">
      <h3>¿Qué modelo quieres probar?</h3>
      <form action="">
        <label for="">Modelo Principal* </label
        ><select>
          <option>Multivan</option>
          <option>Caravelle</option>
        </select>
        <h3>¿Tus datos de contacto son?</h3>
        <label for="">Trato* </label
        ><select>
          <option>Sr</option>
          <option>Sra</option>
        </select>
        <label for="">Nombre* </label>
        <input type="text" name="nombre" />
        <label for=""> 1er Apellido* </label>
        <input type="text" name="apellido" />
        <label for=""> 2do Apellido </label>
        <input type="text" name="apellido2" />
        <label for="">E-mail* </label>
        <input type="email" name="email" />
        <label for="">Movil* </label>
        <input type="text" name="telefono" />
        <h3>Escoge tu concesionario</h3>
        <label for="">Provincia* </label>
        <select>
          <option>Almería</option>
        </select>
        <label for="">Concesión* </label>

        <select>
          <option>A1</option>
        </select>

        <input type="checkbox" value="Enviar" />
        <label for="">He leido y aceotadi la Política de Privacidad</label>
        <button>Enviar</button>
      </form>
    </div>
  </div>
</main>
